<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{header :: title}">
</head>

<body id="top">
    <header th:replace="header :: header"></header>

    <main>
        <section class="section hero" aria-label="home" id="home"
            th:style="'background-image: url(' + @{/img/hero-banner.jpg} + ')'">
            <div class="container">
                <div class="hero-content">
                    <h2 class="h1 hero-title">
                        <span class="span">Bienvenido, <span th:text="${username}">Usuario</span></span>
                    </h2>
                </div>
            </div>
        </section>
        <section class="section dashboard" id="dashboard" aria-label="dashboard">
            <div class="container">
                <h2 class="h2 section-title">Acciones rápidas</h2>
                <div class="button-container">
                    <form th:action="@{/deliveries/create}" method="get">
                        <button type="submit" class="btn-outline">Crear Envío</button>
                    </form>
                    <br>
                    <form th:action="@{/comments/view}" method="get">
                        <button type="submit" class="btn-outline">Valorar Servicio</button>
                    </form>
                </div>
                <br>
                <br>
                <h2 class="h2 section-title">Mis envíos</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha de Creación</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="delivery : ${deliveries}">
                            <td th:text="${delivery.id}"></td>
                            <td th:text="${#dates.format(delivery.deliveryDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${delivery.status}"></td>
                            <td>
                                <div class="button-container">
                                    <form th:action="@{'/deliveries/view/details'}" method="get">
                                        <input type="hidden" name="deliveryId" th:value="${delivery.id}" />
                                        <button type="submit" class="btn-outline">Detalles</button>
                                    </form>
                                    <form th:if="${delivery.invoice != null}" th:action="@{'/invoices/' + ${delivery.invoice.id} + '/view-pdf'}" method="get">
                                        <button type="submit" class="btn-outline">Factura</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>                
                <br>
                <br>
                <h2 class="h2 section-title">Administración</h2>
                <div class="button-container">
                    <form th:action="@{'/users/' + ${username} + '/edit'}" method="get">
                        <button type="submit" class="btn-outline">Editar mi perfil</button>
                    </form>
                    <form th:if="${useradmin}" th:action="@{/users/create}" method="get">
                        <button type="submit" class="btn-outline">Crear nuevo usuario</button>
                    </form>
                    <form th:if="${useradmin}" th:action="@{/reports/create}" method="get">
                        <button type="submit" class="btn-outline">Generar reporte de operaciones</button>
                    </form>
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn-outline">Salir de la sesión</button>
                    </form>
                </div>
                    <div th:if="${useradmin}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Usuario</th>
                                <th>Contraseña</th>
                                <th>Rol</th>
                                <th>Email</th>
                                <th>Dirección</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.role}"></td>
                                <td th:text="${user.address.email}"></td>
                                <td th:text="${user.address.street + ', ' + user.address.city + ' ' + user.address.zipCode + ' ' + user.address.country}" ></td>
                                <td>
                                    <div class="button-container">
                                        <form th:action="@{'/users/' + ${user.username} + '/edit'}" method="get" style="display:inline">
                                            <button type="submit" class="btn-outline">Editar</button>
                                        </form>
                                        <form th:if="${user.username != username}" th:action="@{'/users/' + ${user.username} + '/delete'}" method="post" style="display:inline">
                                            <button type="submit" class="btn-outline">Eliminar</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="footer :: footer"></footer>

    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <ion-icon name="chevron-up"></ion-icon>
    </a>
    <script src="./js/script.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
