<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{header :: title}">
</head>

<body id="top">
    <header th:replace="header :: header"></header>

    <main>
        <article>
            <section class="section hero" aria-label="home" id="home"
                th:style="'background-image: url(' + @{/img/hero-banner.jpg} + ')'">
                <div class="container">
                    <div class="hero-content">
                        <h2 class="h1 hero-title">
                            <span class="span">Detalles de la entrega</span>
                        </h2>
                    </div>
                </div>
            </section>

            <section class="section delivery-details" id="delivery-details" aria-label="delivery-details">
                <div class="container">
                    <h2 class="h2 section-title">Información del Envío</h2>
                    <div th:if="${!userAuthenticated}" class="button-container">
                        <a href="/login" type="submit" class="btn-outline">Inicie sesión para ver detalles</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha de Envío</th>
                                <th>Fecha Estimada de Llegada</th>
                                <th>Estado</th>
                                <div th:if="${userAuthenticated}">
                                    <th>Acciones</th>
                                </div>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="delivery : ${deliveries}">
                                <td th:text="${delivery.id}"></td>
                                <td th:text="${#dates.format(delivery.deliveryDate, 'dd/MM/yyyy')}"></td>
                                <td th:text="${#dates.format(delivery.estimatedArrivalDate, 'dd/MM/yyyy')}"></td>
                                <td th:text="${delivery.status}"></td>
                                <div th:if="${userAuthenticated}">
                                    <td>
                                        <div class="button-container">
                                            <form th:action="@{'/deliveries/view/details'}" method="get">
                                                <input type="hidden" name="deliveryId" th:value="${delivery.id}" />
                                                <button type="submit" class="btn-outline">Detalles</button>
                                            </form>
                                            <form th:action="@{'/invoices/' + ${delivery.invoice.id} + '/view-pdf'}" method="get">
                                                <button type="submit" class="btn-outline">Factura</button>
                                            </form>
                                        </div>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                    <div th:if="${userAuthenticated}">
                        <div th:if="${displayDetails}">
                            <div th:each="delivery : ${deliveries}">
                                <br>
                                <h3 class="h3">Información del Paquete</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Peso</th>
                                            <th>Altura</th>
                                            <th>Ancho</th>
                                            <th>Longitud</th>
                                            <th>Transporte</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="${delivery.packet.packetType}"></td>
                                            <td th:text="${delivery.packet.packetWeight}"></td>
                                            <td th:text="${delivery.packet.packetHeight}"></td>
                                            <td th:text="${delivery.packet.packetWidth}"></td>
                                            <td th:text="${delivery.packet.packetLength}"></td>
                                            <td th:text="${delivery.transportation}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <h3 class="h3">Dirección de Origen</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Calle</th>
                                            <th>Ciudad</th>
                                            <th>Código Postal</th>
                                            <th>País</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="${delivery.source.email}"></td>
                                            <td th:text="${delivery.source.firstName}"></td>
                                            <td th:text="${delivery.source.lastName}"></td>
                                            <td th:text="${delivery.source.street}"></td>
                                            <td th:text="${delivery.source.city}"></td>
                                            <td th:text="${delivery.source.zipCode}"></td>
                                            <td th:text="${delivery.source.country}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <h3 class="h3">Dirección de Destino</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Calle</th>
                                            <th>Ciudad</th>
                                            <th>Código Postal</th>
                                            <th>País</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="${delivery.destination.email}"></td>
                                            <td th:text="${delivery.destination.firstName}"></td>
                                            <td th:text="${delivery.destination.lastName}"></td>
                                            <td th:text="${delivery.destination.street}"></td>
                                            <td th:text="${delivery.destination.city}"></td>
                                            <td th:text="${delivery.destination.zipCode}"></td>
                                            <td th:text="${delivery.destination.country}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <footer th:replace="footer :: footer"></footer>

    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <ion-icon name="chevron-up"></ion-icon>
    </a>
    <script src="./js/script.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
