<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="footer-top section">
            <div class="footer-brand">
                <a href="/" class="logo">Transportes Arapahoe</a>
                <p class="footer-text">Empresa líder en el sector logístico.</p>
            </div>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">Enlaces</p>
                </li>
                <li>
                    <a href="/index" class="footer-link">Inicio</a>
                </li>
                <li>
                    <a href="/index#about" class="footer-link">Nosotros</a>
                </li>
                <li>
                    <a href="/index#service" class="footer-link">Servicios</a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">Servicios</p>
                </li>
                <li>
                    <p class="footer-link">Transporte estandar</p>
                </li>
                <li>
                    <p class="footer-link">Transporte express</p>
                </li>
                <li>
                    <p class="footer-link">Transporte urgente</p>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p class="copyright">
                &copy; 2024 Transportes Arapahoe. Todos los derechos reservados.
            </p>
        </div>
    </div>
</footer>
<script th:src="@{/js/script.js}" defer></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
