<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{header :: title}">
</head>

<body id="top">
	<th:block th:replace="~{header :: header}"></th:block>
	<main>
		<article>
			<section class="section hero" aria-label="home" id="home"
				th:style="'background-image: url(' + @{/img/hero-banner.jpg} + ')'">
				<div class="container">
					<div class="hero-content">
						<h2 class="h1 hero-title">
							<span class="span">Envia tu paquete</span> al lugar que desees
						</h2>

						<p class="hero-text">
							Somos una empresa de logística que nos encargamos del envio de
							paqueteria.
						</p>

						<a href="#service" class="btn-outline" style="background-color: hsl(32, 100%, 50%);">Ver servicios</a>
					</div>
				</div>
			</section>

			<section class="section about" id="about" aria-label="about">
				<div class="container">
					<figure class="about-banner img-holder" style="--width: 400; --height: 720">
						<img th:src="@{/img/about-banner.jpg}" width="400" height="720" loading="lazy" alt=""
							class="img-cover" />

						<img th:src="@{/img/paquetes2.png}" width="260" height="170" loading="lazy" alt=""
							class="abs-img abs-img-1" />

						<img th:src="@{/img/about-shape-2.png}" width="500" height="500" loading="lazy" alt=""
							class="abs-img abs-img-2" />
					</figure>

					<div class="about-content">
						<p class="section-subtitle">Por que elegir nuestros servicios</p>

						<h2 class="h2 section-title">
							Somos una empresa profesional en la entrega de paquetería
						</h2>

						<ul class="about-list">
							<li class="about-item">
								<div class="about-icon">
									<ion-icon name="chevron-forward"></ion-icon>
								</div>

								<p class="about-text">Todo tipo de envíos</p>
							</li>

							<li class="about-item">
								<div class="about-icon">
									<ion-icon name="chevron-forward"></ion-icon>
								</div>

								<p class="about-text">
									Sobre, caja o documentos
								</p>
							</li>

							<li class="about-item">
								<div class="about-icon">
									<ion-icon name="chevron-forward"></ion-icon>
								</div>

								<p class="about-text">Puedes consultar el estado de tu envío</p>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="section service" id="service" aria-label="service">
				<div class="container">
					<p class="section-subtitle">Nuestros servicios</p>

					<h2 class="h2 section-title">Servicios que ofrecemos</h2>

					<p class="section-text">
						Para atender tus necesidades ofrecemos estos servicios.
					</p>

					<ul class="feature-list grid-list">
						<li>
							<div class="feature-card">
								<div class="card-icon">
									<img th:src="@{/img/feature-icon-1.png}" width="72" height="91" alt="" />
								</div>

								<h3 class="h3 card-title">Hacer un envío</h3>

								<p class="card-text">
									Envía tu paquete al destino que desees.
								</p>
								<div class="card-btn">
									<a th:href="@{/deliveries/create}" type="submit">
										Crear envío
									</a>
								</div>
							</div>
						</li>
						<li>
						</li>
						<li>
							<div class="feature-card">
								<div class="card-icon">
									<img th:src="@{/img/feature-icon-3.png}" width="93" height="93" alt="imagen" />
								</div>

								<h3 class="h3 card-title">Seguimiento</h3>

								<p class="card-text">
									Introduce el numero de seguimiento de tu envío para localizarlo.
								</p>
								<div th:if="${errorMessage}">
									<p th:style="'color: red;'" th:text="${errorMessage}"></p>
								</div>
									<form th:action="@{/deliveries/view}" method="post" class="navbar-link" data-nav-link>
										<label for="deliveryId"></label>
										<input class="input-text" type="text" id="deliveryId" placeholder="ID" name="deliveryId" required>
										<button class="card-btn" type="submit">Localizar</button>
										<ion-icon name="chevron-forward"></ion-icon>
									</form>
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section class="section feature" aria-label="feature">
				<div class="container">
					<div class="title-wrapper">
						<div>
							<p class="section-subtitle">Transportes</p>

							<h2 class="h2 section-title">Tipos de transportes</h2>

							<p class="section-text">
								Contamos con varios tipos de transporte a la hora de hacerte llegar tu paquete.
							</p>
						</div>
					</div>
					<ul class="service-list grid-list">
						<li>
							<div class="service-card">


								<h3 class="h3 card-title">
									<span class="span">01</span> Transporte estandar
								</h3>

								<p class="card-text">
									Recibe tu paquete en 7 dias.
								</p>

								<a href="#" class="btn-link">
									<ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>
								</a>
							</div>
						</li>

						<li>
							<div class="service-card">

								<h3 class="h3 card-title">
									<span class="span">02</span> Transporte express
								</h3>

								<p class="card-text">
									Recibe tu paquete en menos de 3 dias.
								</p>

								<a href="#" class="btn-link">
									<ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>


								</a>
							</div>
						</li>

						<li>
							<div class="service-card">
								<h3 class="h3 card-title">
									<span class="span">03</span> Transporte urgente
								</h3>

								<p class="card-text">
									Recibe tu paquete en 1 dia.
								</p>

								<a href="#" class="btn-link">
									<ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>
								</a>
							</div>
						</li>
					</ul>

				</div>
			</section>

			<section class="section newsletter" aria-label="newsletter">
				<div class="container">
					<figure class="newsletter-banner img-holder">
						<img th:src="@{/img/newsletter-banner.png}" width="303" height="381" alt="newsletter banner"
							class="w-100" />
					</figure>

					<div class="newsletter-content">
						<h2 class="h2 section-title">
							Registrate para ser cliente
						</h2>

						<form action="" class="newsletter-form">
							<button type="submit" class="newsletter-btn">
								Registrarse ahora
							</button>
						</form>
					</div>
				</div>
			</section>
		</article>
	</main>

	<th:block th:replace="~{footer :: footer}"></th:block>

</body>

</html>