<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    
<head th:replace="~{header :: title}">
</head>
<body id="top">
    <th:block th:replace="~{header :: header}"></th:block>
    <main>
        <article>
            <section class="section login" aria-label="login">
                <div class="container">
                    <h2 class="h2 section-title">Iniciar sesión</h2>
                    <br>
                    <form th:action="@{/login}" th:object="${user}" method="post" class="login-form">
                        <div class="form-group">
                            <label for="username">Nombre de usuario:</label>
                            <input type="text" id="username" th:field="*{username}" placeholder="Introduce tu nombre de usuario" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" th:field="*{password}" placeholder="Introduce tu contraseña" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn-outline">Iniciar sesión</button>
                        </div>
                    </form>
                    <div th:if="${errorMessage}">
                        <p th:style="'color: red;'" th:text="${errorMessage}"></p>
                    </div>
                    <br>
                    <div>
                        <a th:href="@{/register}">¿No tienes una cuenta? Regístrate.</a>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <th:block th:replace="~{footer :: footer}"></th:block>
</body>
</html>
